.main {
	position: relative;
	margin: 0 auto;
	margin-top: 72px;
	width: 100%;	
	padding: 1em;
}

.main p {
	text-align: justify;
	text-indent: 2em;
}

@media all and (min-width: 1080px) {

	.main {
		padding: 1em 14em;
	}

}